# macOS
.DS_Store
/.build
/Packages
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.swiftpm/xcode/package.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Xcode
xcuserdata/
DerivedData/

# Swift Package Manager
/.swiftpm
/.build
/Packages
*.xcodeproj

# Misc
*.swp
